<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-1">
    <div class="container">
        <h1><%= customer.title %></h1>
        <p><%= customer.address1 %></p>
        <p><%= customer.address2 %></p>
        <p><%= customer.plz %> <%= customer.city %></p>
    </div>  
</div> 
<div class="col-5">
    <div id='map' ></div>
    </div>
</div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const customer = <%- JSON.stringify(customer) %>
        console.log(customer)
    </script>
    
    <script src="/javascripts/showPageMap.js"></script>